* {
  margin: 0;
  padding: 0;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 5px; */
  grid-template-areas:
    "h h h"
    "n c c";
}

.content {
  grid-area: c;
  background-color: rgb(190, 241, 250);
}