.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog,
.msg {
  padding: 10px;
}

.dialogItem:hover a{
  color: darkorchid;
  cursor: pointer;
}

.dialogItem a {
  color: #000;
  text-decoration: none;
}

.activeItem a{
  color: darkslateblue;
  font-weight: bold;
}